<div class="main">
  <%# event_titleでまとめて表示 %>
  <ul>
    <%@datas.each do |d|%>
      <li class="items">
        <p class="group-name "><%= d.group_name%></p>
        <%=link_to d.event_title, d.link_url, class: "info-event"%>
      </li>
    <%end%>
  </ul>
  <%= paginate @datas%>

  <%# 団体名でまとめて表示 %>
  <%if false %>
    <%@reg.each do |d|%>
      <p><%= d.group_name%></p>
      <%d.scrapings.each do |a|%>
        <%=link_to a.event_title, a.link_url%>
      <%end%>
    <%end%>
  <%end %>  
</div>